.counter_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  padding: 20px;
}

.counter_title{
  color: #fff;
}

.counter {
  font-size: 4rem;
  color: #fff;
}

.counter_buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.increment_button {
  width: 100%;
  background-color:#2254D1;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding:1.2rem;
}

.increment_button:hover {
  background-color: #8AD1FF;
}

.decrement_button {
width: 100%;
border-radius: 2rem;
border-color: #fff;
color: #fff;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
cursor: pointer;
margin-bottom: 0.5rem;
padding:1.2rem;
}

.decrement_button:hover {
  background-color: #f378f3;
}

@media (min-width: 768px) {
  .counter_container {
  }

  .counter_buttons {
    order: 1;
   flex-direction: row;
   width: 100%;
   justify-content: space-evenly;
  }

  .increment_button{
    width: 20%;
  }

  .decrement_button{
    width: 20%;
  }

 }