.description_container {
  color: white;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.description > h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.description {
  margin-top: 5rem;
  padding: 1rem;
}

.description_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.description_img > img {
  width: 80%;
}

@media (min-width: 768px) {
  .description_container{
    display: flex;
  }

  .description {
    width:40%;
    margin: auto;
    margin-left:1rem;
  }

  .description >p {
  font-size:1.1rem;
  }

  .description_img{
    width: 60%;
  }

  .description_img > img{
      width: 100%;
  }
}

